.boxes{
    display: flex;
    flex-wrap: wrap;
}

.box{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 10px;
    width: 14.68rem;
    margin: 1em 1em 1em 0;
}
.box h1,
.box p{
    color: var(--light-color-100);
}
.box p{
    margin-top: 1em;
    font-weight: 200;
}
.box .view-more{
    margin-top: 1em;
    align-self: flex-end;
    font-size: 0.8rem;
    color: var(--light-color-100);

}
.box .view-more a{
    color: var(--light-color-100);
    transition: width 0.2s;
}
.box .view-more a:hover{
    border-bottom: 1px solid black;
}